{% extends 'twitter_app/base.html' %}


{% block body_block %}
<div class="container box">

    <script type="text/javascript" src="https://www.gstatic.com/charts/loader.js"></script>
    <script type="text/javascript">
      google.charts.load('current', {
        'packages':['geochart'],
        // Note: you will need to get a mapsApiKey for your project.
        // See: https://developers.google.com/chart/interactive/docs/basic_load_libs#load-settings
        'mapsApiKey': 'AIzaSyBbwTbCI7U6KID7D_hT78GRNqiXmee1Kzk'
      });
      google.charts.setOnLoadCallback(drawRegionsMap);

      function drawRegionsMap() {
        var data = google.visualization.arrayToDataTable([
          ['State',   'Po', 'abv'],
          ['AU-NSW', 36, 60],['AU-QLD', 50, 70],['AU-SA', 60, 1],['AU-TAS', 70, 2],
            ['AU-VIC', 100, 5],['AU-WA', 90, 7],['AU-ACT', 10, 8],['AU-NT', 20, 20],
        ]);

        var options = {
          region: 'AU',
          displayMode:'regions',
          resolution: 'provinces',
          colorAxis: {colors: ['#00853f', 'black', '#e31b23']},
          backgroundColor: '#81d4fa',
          datalessRegionColor: '#f8bbd0',
          defaultColor: '#f5f5f5',
        };

        var chart = new google.visualization.GeoChart(document.getElementById('geochart-colors'));
        chart.draw(data, options);
      };
    </script>
    <div id="geochart-colors" style="width: 700px; height: 433px;"></div>
</div>
{% endblock %}