{% extends "twitter_app/base.html" %}
    {% block body_block %}

<!-- title of home -->
        <div class="container" id="main_window">
            <h3>- Team -</h3>
            <div>
                <span>Ruixi Huo 815821</span>
            </div>
            <hr>
            <div>
                <span>Yunjie Jia 864538</span>
            </div>
            <hr>
            <div>
                <span>Yi Song 827781</span>
            </div>
            <hr>
            <div>
                <span>Chong Liu 796337</span>
            </div>
            <hr>
            <div>
                <span>Xiaoting Huang 786408</span>
            </div>


        </div>

    {% endblock %}